<template>
  <div>
    <el-table
      v-loading="loading"
      border
      stripe
      :height="600"
      :data="tableData"
      highlight-current-row
      style="width:100%">
      <el-table-column
        prop="matchid"
        label="比赛ID"
        width="100">
      </el-table-column>
      <el-table-column
        prop="startdatetime"
        label="日期"
        width="120">
      </el-table-column>
      <el-table-column
        prop="league"
        label="联队"
        width="150"
      >
      </el-table-column>
      <el-table-column
        label="赛事"
        width="150"
      >
        <template slot-scope="scope">
          <p>{{scope.row.hostteam}}</p>
          <p>{{scope.row.visitteam}}</p>
          <p>和局</p>
        </template>
      </el-table-column>
      <el-table-column
        label="独赢"
        width="50"
      >
        <template slot-scope="scope">
          <p><span class="bet">{{scope.row.ds_winhostodd}}</span></p>
          <p><span class="bet">{{scope.row.ds_winvisitodd}}</span></p>
          <p><span class="bet">{{scope.row.ds_wintieodd}}</span></p>
        </template>
      </el-table-column>
      <el-table-column
        label="全场-让球"
      >
        <template slot-scope="scope">
          <p>
          <p><b
            v-if="scope.row.ds_strongteam=='H'">{{scope.row.ds_strongscore}}</b><span
            class="bet">{{scope.row.ds_stronghostodd}}</span></p>
          <p><b
            v-if="scope.row.ds_strongteam=='C'">{{scope.row.ds_strongscore}}</b><span
            class="bet">{{scope.row.ds_strongvisitodd}}</span></p>
          <p></p>
        </template>
      </el-table-column>
      <el-table-column
        label="全场-大小"

      >
        <template slot-scope="scope">
          <p><b>大 {{scope.row.ds_overscore}}</b><span class="bet">{{scope.row.ds_overscoreodd}}</span></p>
          <p><b>小 {{scope.row.ds_underscore}}</b><span class="bet">{{scope.row.ds_underscoreodd}}</span></p>
          <p></p>
        </template>
      </el-table-column>

      <el-table-column
        label="单双"
        width="90"
      >
        <template slot-scope="scope">
          <p><b>单</b><span class="bet">{{scope.row.ds_singlescoreodd}}</span></p>
          <p><b>双</b><span class="bet">{{scope.row.ds_doublescoreodd}}</span></p>
          <p></p>
        </template>
      </el-table-column>
      <div v-if!="isFootBall">
      <el-table-column
        label="独赢"
        width="50">
        <template slot-scope="scope">
          <p><span class="bet">{{scope.row.ds_winhostodd_ht}}</span></p>
          <p><span class="bet">{{scope.row.ds_winvisitodd_ht}}</span></p>
          <p><span class="bet">{{scope.row.ds_wintieodd_ht}}</span></p>
        </template>
      </el-table-column>
      <el-table-column
        label="半场-让球"

      >
        <template slot-scope="scope">
          <p><b
            v-if="scope.row.ds_strongteam_ht=='H'">{{scope.row.ds_strongscore_ht}}</b><span
            class="bet">{{scope.row.ds_stronghostodd_ht}}</span>
          </p>
          <p><b
            v-if="scope.row.ds_strongteam_ht=='C'">{{scope.row.ds_strongscore_ht}}</b><span
            class="bet">{{scope.row.ds_strongvisitodd_ht}}</span>
          </p>
          <p></p>
        </template>
      </el-table-column>
      <el-table-column
        label="半场-大小"
      >
        <template slot-scope="scope">
          <p><b>大 {{scope.row.ds_overscore_ht}}</b><span class="bet">{{scope.row.ds_winhostodd_ht}}</span></p>
          <p><b>小 {{scope.row.ds_underscore_ht}}</b><span class="bet">{{scope.row.ds_winvisitodd_ht}}</span></p>
          <p></p>
        </template>
      </el-table-column>
      <el-table-column
        label="半场-单双"
        width="90"
      >
        <template slot-scope="scope">
          <p><b>单</b><span class="bet">{{scope.row.ds_winhostodd_ht}}</span></p>
          <p><b>双</b><span class="bet">{{scope.row.ds_winvisitodd_ht}}</span></p>
          <p></p>
        </template>
      </el-table-column>
      </div>
      <div v-if="isFootBall">
        <el-table-column
          label="球队得分：大"
        >
          <template slot-scope="scope">
            <p>{{scope.row.ds_overscoreodd_h}}</p>
          </template>
        </el-table-column>
        <el-table-column
          label="球队得分：小"
        ></el-table-column>
      </div>
    </el-table>
    <el-pagination
      @current-change="handleCurrentChange"
      layout="prev, pager, next"
      :current-page.sync="currentPage"
      :page-size="1"
      :total="totalPage">
    </el-pagination>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
        isFootBall: false,
        loading: true,
        tableData: [],
        currentPage: 1,
        totalPage: 0
      }
    },
    methods: {
      fetchTableData() {
        let routeP = this.$route.params.id
        let url = '/api/listData'
        axios.get(url).then(resp => {
          setTimeout(() => {

            this.tableData = resp.data.db
            this.isFootBall = this.tableData[1].hasOwnProperty("ds_overscoreodd_h")
            this.loading = false
            this.currentPage = resp.data.fy.page
            this.totalPage = resp.data.fy.p_page
          }, 3000)
        })
      },
      handleCurrentChange(val) {
        this.$router.push({path: '/event/ft/' + val})
        console.log(this.$router
        )
        // console.log(`${val}`)
      },
      betOrder(index, row) {
        console.log(index, row)
      },
      headStyle(){
        return "head_bar"
      }
    },
    mounted() {
      console.log("this is created")
      this.fetchTableData()
      console.log(this.tableData)
    }
  }
</script>
<style>
  .el-table td, .el-table th {
    vertical-align: text-top;
  }

  .el-table td p {
    text-align: right;

  }

  .el-table td p b {
    margin-right: 5px;
  }

  .bet {
    color: red;
    cursor: pointer;
    background-clip: padding-box;
  }

  .bet:hover {
    font-size: larger;
    color: white;
    background-color: red;
  }
  .head_bar{
    background-color: red;
  }
</style>
