<template>
  <div>
    <fieldset>
      <el-button primary @click="testEmail">send email</el-button>
      <!--pre> {{webMeta}}</pre-->
      <legend>register form</legend>
      <el-row>
        <el-col :span="6">
          WebUrl:
          <el-autocomplete
            popper-class="my-autocomplete"
            v-model="state3"
            :fetch-suggestions="querySearch"
            placeholder="请输入内容"
            @select="handleSelect">
            <i
              class="el-icon-edit el-input__icon"
              slot="suffix"
              @click="handleIconClick">
            </i>
            <template slot-scope="{ item }">
              <div class="name">{{ item.title }}</div>
              <span class="addr">{{ item.url }}</span>
            </template>
          </el-autocomplete>
        </el-col>
        <el-col :span="6">
          <el-radio-group v-model="freq">
            <el-radio label="5000" border>5000ms</el-radio>
            <el-radio label="10000" border>10000ms</el-radio>
            <el-radio label="15000" border>15000ms</el-radio>
          </el-radio-group>
        </el-col>
        <el-col :span="6">
          <el-button primary @click="FETCH_META_DATA">Submit</el-button>
        </el-col>
      </el-row>
      <el-row>
      </el-row>

    </fieldset>
  </div>
</template>
<style>
  .my-autocomplete {

  li {
    line-height: normal;
    padding: 7px;

  .name {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .addr {
    font-size: 12px;
    color: #b4b4b4;
  }

  .highlighted .addr {
    color: #ddd;
  }

  }
  }
</style>
<script>
  import {mapState, mapActions} from "vuex";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import Spinner from "@/components/Spinner.vue";
  import {fetchWebMeta} from "../api/api.js"
  import axios from 'axios'
  import qs from 'qs'

  export default {
    components: {ElButton, Spinner},
    name: "HelloWorld",
    data() {
      return {
        restaurants: [],
        msg: "Welcome to Your Vue.js App",
        state3: '',
        freq: '',
        loading: true
      };
    },
    computed: {
      ...mapState("sportBoard", ["webMeta"])
    },
    methods: {
      testEmail() {
        axios.post('/api/email', {id: 20, username: 'kevin', email: 'kdkd@mail.com'}).then(res => {
          console.log(res.data)
        })

      },
      querySearch(queryString, cb) {

        var restaurants = this.restaurants;
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
        // 调用 callback 返回建议列表的数据
        cb(results);
      },
      createFilter(queryString) {
        return (restaurant) => {
          if (restaurant) {
            console.log(restaurant.title)
            return (restaurant.title.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
          }
          else {
            console.log("error")
          }
        };
      },
      loadAll() {
        return [
          {"title": "www.2js.com-投注首选金沙娱乐城", "url": "https://2jsfff.com"},
          {"title": "8号娱乐城（8hylc.com", "url": "https://01655.com"},
          {"title": "唐人街娱乐城", "url": "https://691669.com"},
          {"title": "八方会-乐趣八方 www.678fun.com", "url": "https://hg454.com/"}]
      },
      handleSelect(item) {
        this.state3 = item.url
      },
      handleIconClick(ev) {
        console.log(ev);
      },
      ...mapActions('sportBoard', ['FETCH_META_DATA'])
    },
    mounted() {
      this.$store.dispatch('sportBoard/FETCH_META_DATA')
      this.restaurants = this.$store.state.sportBoard.webMeta
      console.log(this.restaurants)
    }

//  render(h){
//    return h(ItemList)
//  }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
