<template>
  <el-autocomplete
      popper-class="nav-search"
      v-model="state3"
      :fetch-suggestions="querySearch"
      placeholder="请输入内容"
      resize="both"
      size="200"
      @select="handleSelect">
      <i class="fas fa-globe-asia" slot="prepend">

      </i>
      <i
        class="el-icon-edit el-input__icon"
        slot="suffix"
        @click="handleIconClick">
      </i>
      <template slot-scope="{ item }">
         <span class="addr">{{ item.path }}</span>
         <div class="name">{{ item.title }}</div>
      </template>
    </el-autocomplete>
</template>

<style lang="stylus" scoped>
  .nav-search
    border solid black 1px
    background-color red
  .addr
    font-family: Monospace
    font-size :smaller
    color:black
</style>

<script>
  import {fetchWebMeta} from '../api/api.js'
  // import webMeta from "../stores/modules/webMetaStore";

  export default {
    data() {
      return {
        webMeta: [],
        state3: ""
      };
    },
    methods: {
      querySearch(queryString, cb) {
        let results = this.webMeta;
        if (queryString && queryString.length >= 3) {
          console.log(this)
          results = results.filter(row => {
            return Object.keys(row).some(key => {
              return String(row[key]).toLowerCase().indexOf(queryString) > -1
            })
          })
        }
        // 调用 callback 返回建议列表的数据
        //console.log(results)
        cb(results);
      },
      callApi() {
        let w_data
        return fetchWebMeta(w_data => {
          this.webMeta = w_data
        })
      },
      handleSelect(item) {
        console.log(item);
      },
      handleIconClick(ev) {
        console.log(ev);
      }
    },
    mounted() {
      //this.webMeta = this.loadAll();
      this.callApi()
    }
  };
</script>

