<template>
  <div width="80%">
    <el-table
      border
      stripe
      :height="800"
      :data="tableData"
      style="width:100%"
    >
      <el-table-column
        prop="match_id"
        label="比赛ID"
        width="100">
      </el-table-column>
      <el-table-column
        prop="event_time"
        label="日期"
        width="120">
      </el-table-column>
      <el-table-column
        prop="league_name"
        label="联队"
        width="150"
      >
      </el-table-column>
      <el-table-column
        label="赛事"

      >
        <template slot-scope="scope">
          <div v-if="scope.row.host_team_name">
            <p @click="betOrder(scope.$index, scope.row)">{{scope.row.host_team_name}}</p>
            <p>{{scope.row.visit_team_name}}</p>
            <p>和局</p>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="独赢"
        width="100"
      >
        <template slot-scope="scope">
          <div>
            <p>{{scope.row.bet_zdy}}</p>
            <p>{{scope.row.bet_kdy}}</p>
            <p>{{scope.row.bet_hdy}}</p>
            <!--<p>{{scope.row.winhostodd}}</p>-->
            <!--<p>{{scope.row.winvisitodd}}</p>-->
            <!--<p>{{scope.row.wintieodd}}</p>-->
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="全场-让球"
        width="90"
      >
        <template slot-scope="scope">
          <div>
            <p><span
              v-if="scope.row.bet_ratio_show=='H'">{{scope.row.bet_ratio}}</span> {{scope.row.bet_zrq}}
            </p>
            <p><span
              v-if="scope.row.bet_ratio_show=='C'">{{scope.row.bet_ratio}}</span>{{scope.row.bet_krq}}
            </p>
            <p></p>
            <!--<p><span-->
            <!--v-if="scope.row.bet_ratio_show=='H'">{{scope.row.bet_ratio}}</span> {{scope.row.bet_zrq}}-->
            <!--</p>-->
            <!--<p><span-->
            <!--v-if="scope.row.bet_ratio_show=='C'">{{scope.row.bet_ratio}}</span>{{scope.row.bet_krq}}-->
            <!--</p>-->
            <!--<p></p>-->
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="全场-大小"
        width="100"
      >
        <template slot-scope="scope">
          <div v-if="scope.row.bet_zdx">
            <p><span>大</span>{{scope.row.bet_big_ratio}} {{scope.row.bet_zdx}}</p>
            <p><span>小</span>{{scope.row.bet_small_ratio}} {{scope.row.bet_kdx}}</p>
            <p></p>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="单双"
        width="100"
      >
        <template slot-scope="scope">
          <div v-if="scope.row.bet_zds">
            <p><span>单</span>{{scope.row.bet_zds}}</p>
            <p><span>双</span>{{scope.row.bet_kds}}</p>
            <p></p>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="独赢"
        width="100">
        <template slot-scope="scope">
          <div>
            <p>{{scope.row.bet_h_zdy}}</p>
            <p>{{scope.row.bet_h_kdy}}</p>
            <p>{{scope.row.bet_h_hdy}}</p>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="半场-让球"
        width="100"
      >
        <template slot-scope="scope">
          <p><span
            v-if="scope.row.bet_h_ratio_show=='H'">{{scope.row.bet_h_ratio}}</span>{{scope.row.bet_h_zrq}}
          </p>
          <p><span
            v-if="scope.row.bet_h_ratio_show=='C'">{{scope.row.bet_h_ratio}}</span>{{scope.row.bet_h_krq}}
          </p>
          <p></p>
        </template>
      </el-table-column>
      <el-table-column
        label="半场-大小"
        width="100"
      >
        <template slot-scope="scope">
          <div v-if="scope.row.bet_h_zdx">
            <p><span>大</span>{{scope.row.bet_h_big_ratio}}{{scope.row.bet_h_zdx}}</p>
            <p><span>小</span>{{scope.row.bet_h_small_ratio}}{{scope.row.bet_h_kdx}}</p>
            <p></p>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <pre>{{tableData}}</pre>
  </div>
</template>

<script>
  import {fetchSportEvent} from '../api/api.js'

  export default {
    name: "SportTable",
    data() {
      return {
        loading: true,
        tableData: [],

      }
    },
    computed: {
      demo() {
        return this.tableData
      }
    },
    methods: {
      loadSport() {
        let data
        this.loading = false
        data = fetchSportEvent()
        return data
      },
    },
    mounted() {
      let matcheData = this.loadSport()
      this.tableData = matcheData.matches
    }
  }
</script>

