<template>
  <el-card>
    <div class="header-wrapper">
      <search></search>
      <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-menu-item index="2">Processing Center2</el-menu-item>
        <el-menu-item index="3">Processing Center3</el-menu-item>
        <el-menu-item index="4">Processing Center4</el-menu-item>
      </el-menu>
    </div>
    <sport-table></sport-table>
  </el-card>
</template>

<script>
  import search from "../components/Search.vue";
  import sportTable from "../components/SportTable"
  export default {
    components: {search, sportTable},
    name: "MainView",
    data() {
      return {
        activeIndex: "1",
        restaurants: [],
        state3: ""
      };
    },
    methods: {
      handleSelect() {
        console.log("hello")
      }
    }
  };
</script>
<style lang="stylus">
  .header-wrapper
    display: flex
    flex-direction: row
    align-items: center
</style>
